<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideias - Casa Criativa</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body id="page-ideas">
    <div id="container">
        <header>
            <a href="/">
                <img src="images/logo.png" alt="casa-criativa">
            </a>

            <nav>
                <li><a href="/">Início</a></li>
                <li onclick="onOff()"><a href="#">Nova Ideia</a></li>
            </nav>
        </header>

        <section id="title">
            <p>em exibição</p>
            <h1>Ideias</h1>
        </section>

        <main>
            <section id="ideas">

                {% include "all_ideas.html" %}

            </section>
        </main>

        <footer>
            Com ♥️ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
        </footer>
    </div>

    <!-- MODAL -->
    {% include "modal.html" %}

    <script src="script.js"></script>

</body>

</html>